*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
font-family: sans-serif;
}

#nav-bar{
    position: sticky;
    top: 0;
    z-index: 100;
}
.navbar{
    background-image: linear-gradient(to right, #b95dc7,#41095d);
    padding: 0 !important;
}

.navbar-brand img{
    height: 60px;
    padding-left: 50px;
}

.navbar-nav{
    float: right;
}

.navbar-nav .nav-link{
    font-weight: bold;
    
}

.fa-bars{
    color: #ffff;
    font-size: 30px;
}

/* Banner Alani*/

#banner{
    background-image: linear-gradient(to right, #b95dc7,#41095d);
    color: #fff;
    padding-top: 5%;
}

.tittle{
    font-size: 40px;
    font-weight: 600;
    margin-top: 100px;
}

.tittle::before{
    content: "";
    background-color: #7b1798;
    height: 5px;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    transform: translateY(63px); /* olusturdugumuz cizgiyi 63px assagi oteledik */
}

.tittle::after{
    content: "";
    background-color: #7b1798;
    height: 10px;
    width: 50px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    transform: translateY(8px);
}
.btn{
    width: 100px;
    margin: 20px 0;
}

#banner a {
    color: #fff;
    text-decoration: none;
}

.bottom-img{
    width: 100%;
}

/* Services Alani*/

#services{
    padding: 80px 0;
}
#services h4{
    padding: 5px;
    margin-top: 25px;
    text-transform: uppercase;
    font-weight: 500;
}
.service-img{
    width: 100px;
}

#btn-wrapper{
    text-align: center;
}

#services .btn-primary{
    border: none;
    outline: none;
    box-shadow: none;
    padding: 8px 25px;
    border-radius: 20px;
    background-image: linear-gradient(to right, #b95dc7,#41095d);
    width: auto;
}
#services .btn-primary:hover{
    opacity: 0.9;
    transition: 0.3s;
}
/* About us alani */
#about-us{
    padding-top: 50px;
    padding-bottom: 55px;
    background-color: #f8f0fa;
}

.about-tittle{
    font-weight: 500;
    font-size: 30px;
    margin-top: 8px;
}
#about-us ul li{
    margin: 15px 0;
    margin-left: 20px;
}

/* customers Alani*/
#customers{
    margin: 100px 0;
}

.customers{
    margin-top: 50px;
    border-left: 5px solid #7b1798;

}

.customers img {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    margin: 0 10px;
}

.user-details{
    display: inline-block;
    font-size: 12px;
}
/* Social medias Alani */

#social-medias{
    background-color: #f8f0fa;
    padding: 100px 0;
}

.social-icons a{
    text-decoration: none;
}

.social-icons img{
    width: 60px;
    transition: all 0.5s;
}
.social-icons a:hover >img{
    transform: translateY(-10px);
}

/*Footer Alani*/
 #footer{
    background-image: linear-gradient(to right, #b95dc7,#41095d);
    color: #fff;
 }

 .footer-img{
    width: 100%;
 }

 .footer-box{
    padding: 20px;
 }

 .footer-box img{
    width: 130px;
    margin-bottom: 20px;
 }

 .footer-box .icons{
    margin-right: 8px;
    font-size: 25px;
    height: 40px;
    width: 40px;
    background-image: linear-gradient(to right, #b95dc7,#41095d);
    text-align: center;
    padding-top: 8px;
 }

 .footer-box .form-control{
    width: 250px;
    margin-top: 25px;
}

.footer-box .btn-primary{
    background-image: linear-gradient(to right, #b95dc7,#41095d);
    border: none;
    
    
}

hr{
    color: #fff;

}

.copyright{
    text-align: center;
    padding-bottom: 20px;
}
